@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-black text-white antialiased font-sans;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
}

@layer utilities {
  .grid-bg {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
  }
  
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(192, 4, 4, 0.5);
  }
  
  .border-glow {
    box-shadow: 0 0 15px rgba(192, 4, 4, 0.3);
  }
}
